.div1{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    
}
.div2{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    
}
.div3{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    
}

.divMaman{
    background-color: beige;
    height: 97vh;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.divMaman div {
    border-radius: 15px;
    transition: 0.5s;
    padding: 1rem;
}

.divMaman div:hover {
    scale: 1.1;
}

img{
    width: 300px;
    animation: monter-descendre 3s infinite ease-in-out;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: brown;
    color: beige;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    background-color: beige;
    color: brown;
}

.nom-botte{
    font-weight: bold;
}

@keyframes monter-descendre {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}