input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.622);
    color: white;
    
}

input::placeholder {
    color: white;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 90%;
}

.checkinput{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.622);
    color: white;
}

.radioinput{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.622);
    color: white;
}

.div1 {
    background-color: red;
    width: 200px;
    height: 200px;
}

.div2 {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.div3 {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.div4 {
    background-color: beige;
    width: 200px;
    height: 200px;
}

.DivFlex{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    
}

.DivFlex2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.DivFlex3{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.DivFlex4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.DivFlex5{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}